@font-face {
  font-family: "HackGen";
  src: url("@/assets/fonts/hackgen_regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HackGen";
  src: url("@/assets/fonts/hackgen_bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
