@use './constants' as *;

.scene {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.window {
  border: 1px solid $color_white;
  border-radius: 8px;
  padding: 12px;
  word-break: break-all;
  overflow-y: scroll;
  background-color: $color_black;
  color: $color_white;
}
