:root {
  font-family: HackGen, Arial, sans-serif;
  color: $color_white;
  font-size: 16px;
  line-height: 1;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
